<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{test}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let contactoTemp of listadoContactos;"
    routerLink="contactoTemp.redirectTo"
    detail>
      <ion-avatar slot="start"> 
        <img [src]="contactoTemp.img_src">
      </ion-avatar>
      <ion-label>
        <h3>{{contactoTemp.nombre}}</h3>
        <p>{{contactoTemp.profesion}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
